.textGradient {
    background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.4) 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.radialGradient {
    background: radial-gradient(circle, rgb(255, 255, 255, .15) 0%, rgba(255, 255, 255, 0.05) 50%, rgba(255, 255, 255, 0) 70%);
    aspect-ratio: 1/1;
    border-radius: 100%;
    z-index: -1;
}

/* TODO: Apply this style to all glass containers */
.glassEffect {
    background: rgba(148, 163, 184, 0.05);
    backdrop-filter: blur(4px);
    border-color: rgba(148, 163, 184, 0.40);
}